<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shake On It</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" href="./stylesheets/style.css" />
  <link rel="stylesheet" href="./stylesheets/homepage.css" />
</head>

<body>
  <h1>Shake On It</h1>
  <div class="wrapper">
    <header>
      <div id="body" class="grey lighten-2 valign-wrapper">
        <div id="opty_hands" class="valign">
          <div id="left-arm">
            <div class="left-hand"><span>...</span></div>
            <div class="left-shake"><span>_<br>_<br>_</span></div>
          </div>
          <div id="right-arm">
            <div class="right-hand"><span>...</span></div>
            <div class="right-shake"></div>
          </div>
        </div>
        <h1>
          <a href="/">Shake On It</a>
        </h1>
        <nav>
          {{#if loggedIn}}
          <a href="/account">acount</a>
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
        </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      Let's Shake On It next time!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>