<section>
  <div class="page-title">
    <h2>Account Page</h2>
  </div>

  <form class="new-post-form">
    <h3>Create New Post</h3>
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="content-post">
      <label for="post-content">Content</label>
      <input id="post-content" name="post-content" />
    </div>
    <button type="submit" class="create-btn">Create</button>
  </form>
</section>

<script src="/javascript/add_post.js"></script>