<form class="edit-post-form">
    <div>
        <h3>Title</h3>
        <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div class="content-post">
        <h3>Content</h3>
        <input name="post-content" type="text" value="{{post.content}}" />
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
    <div>
        <button type="button" class="delete-btn">Delete</button>
    </div>
</form>
</section>

<script src="/javascript/edit_post.js"></script>