<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    {{! javascript that goes below here is in location-dropdown.js }}
    <script type="text/javascript">

    </script>
  </head>
  <body onload="resetSelection()">
    <select id="countrySelect" size="1" onchange="makeSubmenu(this.value)">
      <option value="" disabled selected>Choose State</option>
      <option>New York</option>
      <option>Texas</option>
      <option>California</option>
    </select>
    <select id="citySelect" size="1">
      <option value="" disabled selected>Choose City</option>
      <option></option>
    </select>
    <button onclick="displaySelected()">show selected</button>
  </body>
</html>

<script src="/javascript/location-dropdown.js"></script>