#body {
  width: 100%;
  min-height: 15vh;
}

#opty_hands {
  background: #febd25;
  margin-left: 42%;
  width: 15vw;
  height: 15vw;
  font-size: 1.5vw;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.left-hand {
  display: block;
  position: absolute;
  top: 35%;
  left: -8%;
  width: 40%;
  height: 30%;
  z-index: 3;
  background: #282830;
  box-shadow: 0 2.3rem 0 0 rgba(0, 0, 0, 0.4) inset;
  transform: rotate(15deg);
}

.left-hand span {
  display: block;
  position: absolute;
  right: 15%;
  top: 40%;
  letter-spacing: -0.6rem;
  line-height: 0;
  color: #eee;
  font-size: 7em;
}

.left-hand::after {
  content: "";
  position: absolute;
  display: block;
  left: 100%;
  top: 0;
  z-index: -1;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 10%;
  height: 100%;
  background: #2a2a2a;
}

.left-hand::before {
  content: "";
  display: block;
  position: absolute;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  left: 100%;
  top: 12.5%;
  width: 15%;
  height: 75%;
  background: #fff;
}

.right-hand {
  display: block;
  position: absolute;
  top: 35%;
  right: -8%;
  width: 40%;
  height: 30%;
  z-index: 3;
  background: #6c8784;
  box-shadow: 0 2.3rem 0 0 rgba(0, 0, 0, 0.4) inset;
  transform: rotate(-15deg);
}

.right-hand span {
  display: block;
  position: absolute;
  left: 15%;
  top: 40%;
  letter-spacing: -0.6rem;
  line-height: 0;
  color: #eee;
  font-size: 7em;
}

.right-hand::after {
  content: "";
  position: absolute;
  display: block;
  right: 100%;
  top: 0;
  z-index: -1;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  width: 10%;
  height: 100%;
  background: #2a2a2a;
}

.right-hand::before {
  content: "";
  display: block;
  position: absolute;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  right: 100%;
  top: 12.5%;
  width: 15%;
  height: 75%;
  background: #fff;
}

.left-shake {
  position: absolute;
  height: 18%;
  width: 31%;
  z-index: 2;
  border-radius: 20%;
  left: 31%;
  top: 54%;
  background: #f3d89f;
  transform: rotate(45deg);
}

.right-shake {
  position: absolute;
  height: 18%;
  width: 31%;
  z-index: 1;
  border-radius: 20%;
  right: 31%;
  top: 52%;
  background: #e3c39d;
  transform: rotate(-45deg);
}

.left-shake span {
  position: absolute;
  right: 0;
  top: -20%;
  z-index: 1;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.1);
  /* font-size: 3em; */
  line-height: 25%;
}

.right-shake::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 40%;
  border-radius: 30%;
  background: #f3d89f;
  top: -30%;
  z-index: -1;
  right: 13%;
  transform: rotate(40deg);
  box-shadow: -6px -5px 0 0 #e3c39d inset;
}

.left-shake::after {
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  height: 40%;
  border-radius: 30%;
  background: #e3c39d;
  top: -40%;
  z-index: -1;
  right: 34%;
  transform: rotate(110deg);
  box-shadow: 0.1em -0.05em 0 rgba(0, 0, 0, 0.05);
}

.left-shake::before {
  content: "|||";
  font-weight: 500;
  text-indent: 0.25em;
  color: rgba(0, 0, 0, 0.1);
  line-height: 80%;
  font-size: 1.6em;
  letter-spacing: 0.15em;
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  background: #e3c39d;
  box-shadow: 0px -0.5em 0 0 #e3c39d inset,
    0px -0.55em 0 0 rgba(0, 0, 0, 0.1) inset,
    0px -1em 0 0 rgba(255, 255, 255, 0.2) inset,
    0.1em -0.1em 0 0 rgba(0, 0, 0, 0.1);
  right: 10%;
  z-index: 2;
  border-radius: 20%;
  bottom: -10%;
}

.right-shake::before {
  content: "";
  display: block;
  position: absolute;
  width: 5%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  right: 39%;
}

.right-hand {
  animation: right-arm 0.5s linear infinite alternate;
}

.left-hand {
  animation: left-arm 0.5s linear infinite alternate;
}

.right-shake {
  animation: right-hand 0.5s linear infinite alternate;
}

.left-shake {
  animation: left-hand 0.5s linear infinite alternate;
}

@keyframes right-arm {
  0% {
    top: 37%;
    transform: rotate(-15deg);
  }
  100% {
    top: 38%;
    transform: rotate(-20deg);
  }
}

@keyframes left-arm {
  0% {
    top: 35%;
    transform: rotate(15deg);
  }
  100% {
    top: 36%;
    transform: rotate(20deg);
  }
}

@keyframes right-hand {
  0% {
    top: 52%;
  }
  100% {
    top: 57%;
  }
}

@keyframes left-hand {
  0% {
    top: 54%;
  }
  100% {
    top: 57%;
  }
}

.page-title {
  padding: 2rem;
  text-align: center;
}

.page-title h2{
   background-color: #bf5700;
}

div.page-title {
  padding: 2rem;
  text-align: center;
}

.create-btn {
  background-color: #bf5700;
}

.create-btn:hover {
  background-color: #a04400;
}

/* map css */

#mapid {
  height: 180px;
}

/* end of map css */
